body {
    background-color: darkcyan
    
}

h1 {
    text-align: center;
    color: white
}

p{
    color: white;
    text-align: center;
}

form {
    color: white;
}

pre {
    text-align: center;
}



